<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="TestNG_Automation_Framework">
        <parameter name="browser" value="chrome"></parameter>
        <parameter name="email" value="omenoo@mailinator.com"></parameter>
        <parameter name="passwd" value="Omen1234"></parameter>
        <parameter name="messageText 1" value="This is a Test Message "></parameter>
        <classes>
            <class name="Test.LoginTest">
                <methods>
                    <include name="loginFunctionalTest"/>
                    <include name="contactUsFunctionalTest"/>
                    <include name="addToCartFunctionalTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>